**Flight_Ticket Predictions using XGBRegressor Algorithm**

In [0]:
#import numpy,pandas,matplotlib,seaborn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
%matplotlib inline

Loading the Training dataset, the predictions of price depends on many factors like which type of Airlines , Date of journey , source ,destination, if it is non_stop price will be more respectively the factors which effect the price will be taken.

In [0]:
data = pd.read_excel('Data_Train.xlsx')

In [0]:
data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [0]:
#information of dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
Airline            10683 non-null object
Date_of_Journey    10683 non-null object
Source             10683 non-null object
Destination        10683 non-null object
Route              10682 non-null object
Dep_Time           10683 non-null object
Arrival_Time       10683 non-null object
Duration           10683 non-null object
Total_Stops        10682 non-null object
Additional_Info    10683 non-null object
Price              10683 non-null int64
dtypes: int64(1), object(10)
memory usage: 918.1+ KB

In [0]:
#the number of rows and columns
data.shape

(10683, 11)

In [0]:
#checking for any null values
data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [0]:
data.dropna(inplace = True)
#If the there are minimum null values droping those rows by "dropna"

**The column "Date_of_Journey" is having data/month/year separating by "pd.to_datatime and by making new columns for "date","month","year" by using "apply" function.**

In [0]:
data['Date_of_Journey']=pd.to_datetime(data['Date_of_Journey'])
data['Day']=data['Date_of_Journey'].apply(lambda x: x.day)
data['Month']=data['Date_of_Journey'].apply(lambda x: x.month)
data['Year']=data['Date_of_Journey'].apply(lambda x: x.year)


data['Arrival_Time']=pd.to_datetime(data['Arrival_Time'])
data['Arrival Time']=data['Arrival_Time'].apply(lambda x: x.hour)
data['Arrival Day']=data['Arrival_Time'].apply(lambda x: x.day)
data['Arrival Month']=data['Arrival_Time'].apply(lambda x: x.month)
data['Arrival Year']=data['Arrival_Time'].apply(lambda x: x.year)

data.head()

       Airline Date_of_Journey  ... Arrival Month Arrival Year
0       IndiGo      2019-03-24  ...             3         2019
1    Air India      2019-01-05  ...             7         2019
2  Jet Airways      2019-09-06  ...             6         2019
3       IndiGo      2019-12-05  ...             7         2019
4       IndiGo      2019-01-03  ...             7         2019

[5 rows x 18 columns]

**Preprocessing Techniques using LabelEncoder**

In [0]:
from sklearn.preprocessing import LabelEncoder

In [0]:
le = LabelEncoder()

Sklearn provides a very efficient tool for encoding the levels of categorical features into numeric values. LabelEncoder encode labels with a value between 0 and n_classes-1 where n is the number of distinct labels

In [0]:

data['Airline']=le.fit_transform(data['Airline'])
data['Source']=le.fit_transform(data['Source'])
data['Destination']=le.fit_transform(data['Destination'])
data['Route']=le.fit_transform(data['Route'])
data['Dep_Time']=le.fit_transform(data['Dep_Time'])
data['Duration']=le.fit_transform(data['Duration'])
data['Total_Stops']=le.fit_transform(data['Total_Stops'])
data['Additional_Info']=le.fit_transform(data['Additional_Info'])
#data['Arrival_Time']=le.fit_transform(data['Arrival_Time'])

In [0]:
data.corr()

                  Airline    Source  ...  Arrival Month  Arrival Year
Airline          1.000000 -0.013397  ...       0.115662           NaN
Source          -0.013397  1.000000  ...      -0.024450           NaN
Destination      0.018446 -0.592576  ...       0.016370           NaN
Route            0.025214  0.403412  ...      -0.019039           NaN
Dep_Time        -0.039508  0.055194  ...      -0.382934           NaN
Duration         0.027886 -0.192009  ...       0.175035           NaN
Total_Stops      0.035973 -0.225605  ...       0.293017           NaN
Additional_Info -0.060748 -0.022109  ...       0.111869           NaN
Price           -0.039565  0.015999  ...      -0.329006           NaN
Day              0.031118  0.007563  ...       0.023456           NaN
Month           -0.007900  0.063052  ...       0.047968           NaN
Year                  NaN       NaN  ...            NaN           NaN
Arrival Time    -0.007567  0.025635  ...       0.433554           NaN
Arrival Day      0.056867 -0.041850  ...       0.306367           NaN
Arrival Month    0.115662 -0.024450  ...       1.000000           NaN
Arrival Year          NaN       NaN  ...            NaN           NaN

[16 rows x 16 columns]

In [0]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 18 columns):
Airline            10682 non-null int64
Date_of_Journey    10682 non-null datetime64[ns]
Source             10682 non-null int64
Destination        10682 non-null int64
Route              10682 non-null int64
Dep_Time           10682 non-null int64
Arrival_Time       10682 non-null datetime64[ns]
Duration           10682 non-null int64
Total_Stops        10682 non-null int64
Additional_Info    10682 non-null int64
Price              10682 non-null int64
Day                10682 non-null int64
Month              10682 non-null int64
Year               10682 non-null int64
Arrival Time       10682 non-null int64
Arrival Day        10682 non-null int64
Arrival Month      10682 non-null int64
Arrival Year       10682 non-null int64
dtypes: datetime64[ns](2), int64(16)
memory usage: 1.5 MB

In [0]:
x = data.iloc[:,[0,2,3,4,5,7,8,9,11,12,13,14,15,16,17]]
#x = data.iloc[:,[0,2,3,4,5,6,7,8,9,11,12,13]]
x.head()

   Airline  Source  Destination  ...  Arrival Day  Arrival Month  Arrival Year
0        3       0            5  ...           22              3          2019
1        1       3            0  ...           19              7          2019
2        4       2            1  ...           10              6          2019
3        3       3            0  ...           19              7          2019
4        3       0            5  ...           19              7          2019

[5 rows x 15 columns]

In [0]:
y = data.Price

**Applying the Algorithm - XGBOOST**

In [0]:

from xgboost import XGBRegressor

In [0]:
model = XGBRegressor()

In [0]:
model.fit(x,y)

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/usr/local/lib/python3.6/dist-packages/xgboost/core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

[17:57:33] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [0]:
test = pd.read_excel('Test_set.xlsx', sheet_name=0)

In [0]:
test1 = pd.read_excel('Test_set.xlsx', sheet_name=0)

In [0]:
test.shape

(2671, 10)

In [0]:
test.head()

             Airline Date_of_Journey  ... Total_Stops              Additional_Info
0        Jet Airways       6/06/2019  ...      1 stop                      No info
1             IndiGo      12/05/2019  ...      1 stop                      No info
2        Jet Airways      21/05/2019  ...      1 stop  In-flight meal not included
3  Multiple carriers      21/05/2019  ...      1 stop                      No info
4           Air Asia      24/06/2019  ...    non-stop                      No info

[5 rows x 10 columns]

In [0]:
test.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

In [0]:
test['Date_of_Journey']=pd.to_datetime(test['Date_of_Journey'])
test['Day']=test['Date_of_Journey'].apply(lambda x: x.day)
test['Month']=test['Date_of_Journey'].apply(lambda x: x.month)
test['Year']=test['Date_of_Journey'].apply(lambda x: x.year)


test['Arrival_Time']=pd.to_datetime(test['Arrival_Time'])
test['Arrival Time']=test['Arrival_Time'].apply(lambda x: x.hour)
test['Arrival Day']=test['Arrival_Time'].apply(lambda x: x.day)
test['Arrival Month']=test['Arrival_Time'].apply(lambda x: x.month)
test['Arrival Year']=test['Arrival_Time'].apply(lambda x: x.year)

test.head()

             Airline Date_of_Journey  ... Arrival Month Arrival Year
0        Jet Airways      2019-06-06  ...             6         2019
1             IndiGo      2019-12-05  ...             7         2019
2        Jet Airways      2019-05-21  ...             5         2019
3  Multiple carriers      2019-05-21  ...             7         2019
4           Air Asia      2019-06-24  ...             6         2019

[5 rows x 17 columns]

In [0]:
from sklearn.preprocessing import LabelEncoder

In [0]:
le = LabelEncoder()

In [0]:

test['Airline']=le.fit_transform(test['Airline'])
test['Source']=le.fit_transform(test['Source'])
test['Destination']=le.fit_transform(test['Destination'])
test['Route']=le.fit_transform(test['Route'])
test['Dep_Time']=le.fit_transform(test['Dep_Time'])
test['Duration']=le.fit_transform(test['Duration'])
test['Total_Stops']=le.fit_transform(test['Total_Stops'])
test['Additional_Info']=le.fit_transform(test['Additional_Info'])
test.head(1)

   Airline Date_of_Journey  Source  ...  Arrival Day  Arrival Month  Arrival Year
0        4      2019-06-06       2  ...            7              6          2019

[1 rows x 17 columns]

In [0]:
x_test = test.iloc[:,[0,2,3,4,5,7,8,9,10,11,12,13,14,15,16]]

x_test.head()

   Airline  Source  Destination  ...  Arrival Day  Arrival Month  Arrival Year
0        4       2            1  ...            7              6          2019
1        3       3            0  ...           19              7          2019
2        4       2            1  ...           22              5          2019
3        6       2            1  ...           19              7          2019
4        0       0            2  ...           25              6          2019

[5 rows x 15 columns]

In [0]:
test.corr()
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2671 entries, 0 to 2670
Data columns (total 15 columns):
Airline            2671 non-null int64
Source             2671 non-null int64
Destination        2671 non-null int64
Route              2671 non-null int64
Dep_Time           2671 non-null int64
Duration           2671 non-null int64
Total_Stops        2671 non-null int64
Additional_Info    2671 non-null int64
Day                2671 non-null int64
Month              2671 non-null int64
Year               2671 non-null int64
Arrival Time       2671 non-null int64
Arrival Day        2671 non-null int64
Arrival Month      2671 non-null int64
Arrival Year       2671 non-null int64
dtypes: int64(15)
memory usage: 313.1 KB

In [0]:
predictions = model.predict(x_test)

In [0]:
test1['Price'] = predictions

In [0]:
test1.Price = test1['Price'].apply(lambda x: int(x))

In [0]:
test1.head()

             Airline Date_of_Journey  ...              Additional_Info  Price
0        Jet Airways       6/06/2019  ...                      No info  10335
1             IndiGo      12/05/2019  ...                      No info   6694
2        Jet Airways      21/05/2019  ...  In-flight meal not included  22529
3  Multiple carriers      21/05/2019  ...                      No info   9131
4           Air Asia      24/06/2019  ...                      No info   2715

[5 rows x 11 columns]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 7, test_size = 0.20)

In [0]:
model.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[17:46:29] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [0]:
predict = model.predict(x_test)

In [0]:
from sklearn.metrics import r2_score

In [0]:
r2_score(y_test, predict)

0.848632606436903